modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
NEXT_PUBLIC_ARBITER_ADDRESS = "0x5a554d0b250Ec2fFd0796EBE053C1C2890A011dE"
NEXT_PUBLIC_CHAIN_ID = "10143"
NEXT_PUBLIC_MONAD_RPC_URL = "https://testnet-rpc.monad.xyz"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vaHRpZHdtaGZobHhuY29qeXFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMDk2MDEsImV4cCI6MjA5OTc4NTYwMX0.OAHo1VQbJSdrrXltAk7549hHw1R1JKB6cla4c4m0WrQ"
NEXT_PUBLIC_SUPABASE_URL = "https://oohtidwmhfhlxncojyqs.supabase.co"
VITE_ARBITER_ADDRESS = "0x5a554d0b250Ec2fFd0796EBE053C1C2890A011dE"
VITE_CHAIN_ID = "10143"
VITE_FACTORY_ADDRESS = "0x1AD5A34e16541a52eF91D1E81bd86d6c35C1D1fC"
VITE_MONAD_RPC_URL = "https://testnet-rpc.monad.xyz"
NEXT_PUBLIC_FACTORY_ADDRESS = "0x1AD5A34e16541a52eF91D1E81bd86d6c35C1D1fC"
